
<div id="here" class="Logon" style="height: 88vh;min-width: 100vw" *ngIf="authService.isLoggedIn() && chartOptions.series.length == 1">
  <apx-chart
    [series]="chartOptions.series"
    [chart]="chartOptions.chart"
    [fill]="chartOptions.fill"
    [tooltip]="chartOptions.tooltip"
    [plotOptions]="chartOptions.plotOptions"
    [xaxis]="chartOptions.xaxis"
  ></apx-chart>

</div>
<div class="Logon" style="height: 88vh;min-width: 100vw;" *ngIf="authService.isLoggedIn() && chartOptions.series.length > 1">

  <apx-chart
    [series]="chartOptions.series"
    [chart]="chartOptions.chart"
    [fill]="chartOptions.fill"
    [tooltip]="chartOptions.tooltip"
    [plotOptions]="chartOptions.plotOptions"
    [xaxis]="chartOptions.xaxis"
  ></apx-chart>

</div>

